<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.hyperswitch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".react.MainApplication"
        android:enableOnBackInvokedCallback="true"
        android:extractNativeLibs="true"
        android:supportsRtl="true"
        tools:replace="android:name"
        tools:targetApi="tiramisu">
        <activity
            android:name=".react.HyperActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/HyperAppCompatTransparentTheme"
            android:enableOnBackInvokedCallback="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>