<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.hyperswitch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".react.MainApplication"
        android:enableOnBackInvokedCallback="true"
        android:extractNativeLibs="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".WidgetActivity"
            android:exported="false" />
        <activity
            android:name=".react.RedirectActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/HyperTransparentTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.hyperswitch" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payments.gpay.GooglePayActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".react.HyperActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/TransparentTheme" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>